<form #form="ngForm" [formGroup]="formGroup" (submit)="submit()">
  <mat-button-toggle-group formControlName="type">
    <mat-button-toggle matTooltip="Song" value="song">
      <mat-icon>music_note</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Artist" value="artist">
      <mat-icon>people</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle matTooltip="Album" value="album">
      <mat-icon>album</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field color="accent">
    <input matInput formControlName="query" type="text" placeholder="Query">
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Submit</button>
</form>
<div class="loading-wrapper" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="hasResults">
  <app-list-view *ngIf="viewType === 'list'" [currentResults]="currentResults" (click)="click($event)"></app-list-view>
  <app-grid-view *ngIf="viewType === 'grid'" [currentResults]="currentResults" (click)="click($event)"></app-grid-view>
</ng-container>
<mat-paginator [hidden]="!hasResults || loading" [length]="0" [pageSize]="10" (page)="onPage($event)"></mat-paginator>