:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 1em;

  &::ng-deep mat-spinner {
    margin: 0 auto;
  }
}

.loading-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-nav-list {
  flex: 1;
  overflow-y: scroll;
}

button {
  margin-left: 1em;
}