<form #form="ngForm" [formGroup]="formGroup" (submit)="submit()">
  <mat-form-field color="accent">
    <input matInput formControlName="query" type="text" placeholder="Query">
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Submit</button>
</form>
<div class="loading-wrapper" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="hasResults">
  <mat-nav-list #navList *ngIf="!loading">
    <mat-list-item *ngFor="let result of currentResults" (click)="click(result)">
      <img mat-list-avatar [src]="img(result)" />
      <h4 mat-line>{{result.name}} <span style="color: gray">- {{result.artist.name}}</span></h4>
    </mat-list-item>
  </mat-nav-list>
  <mat-paginator [length]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPage($event)"></mat-paginator>
</ng-container>