:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  overflow-y: scroll;
  flex: 1;
  width: 100vw;
}

.grid-scroll {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
}

.grid-cell {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  text-align: center;

  // max-width and min-width are set in the HTML.
  box-sizing: border-box;
  padding: 0 0.5rem;
}

.image {
  width: 100%;
  padding-top: 100%; // Maintains aspect ratio
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}