<div class="grid-container">
  <div class="grid-scroll">
    <div class="row" *ngFor="let row of currentResults | chunk: chunk">
      <div
        class="grid-cell"
        *ngFor="let result of row"
        (click)="onClick(result)"
        [ngStyle]="{
          'min-width': 'calc(100vw / ' + chunk + ')',
          'max-width': 'calc(100vw /' + chunk + ')'
        }"
      >
        <div
          class="image"
          [ngStyle]="{ 'background-image': img(result) }"
        ></div>
        <p>
          {{ result.name
          }}<span *ngIf="getDescriptor(result)">
            - {{ getDescriptor(result) }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
