:host,
.left {
  display: flex;
  align-items: center;
}

:host {
  justify-content: space-between;
  background: #1565c0;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

img {
  margin-right: 0.5em;
}

a {
  color: white;
  text-decoration: none;
}

mat-icon {
  color: white;
}
