:host {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: center;
}

mat-card {
  margin: 0 1em 1em 1em;
}

app-grid-view {
  margin: 0 1em;
}

a, img {
  margin-right: 1em;
}

app-list-view {
  flex: 1;
}

// Hotfix for title being vertically misaligned.
.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
  margin: auto 0;
}